@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourFontName";
  src: url("./fonts/Muli.ttf") format("ttf");
  src: url("./fonts/Muli-SemiBold.ttf") format("ttf");
  src: url("./fonts/Muli-Bold.ttf") format("ttf");
  /* Add more src declarations for other file formats if needed */
  /* You may also need to specify font-weight and font-style */
}

.card {
  @apply px-6 py-8 max-w-2xl rounded-xl;
}

.container {
  @apply px-12 pt-9 max-w-8xl m-auto;
}

.text_big {
  @apply text-5xl font-bold;
}
